{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>ADF Soft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="/" class="font-weight-bold">ADF Soft</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-block"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/" class="nav-link">ADF Soft</a></li>
                  <li class="active"><a href="/usluge" class="nav-link">Usluge</a></li>
                  <!--<li><a href="/projekti" class="nav-link">Naši projekti</a></li> -->
                  <li><a href="/contact" class="nav-link">Kontakt</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h1 class="mb-4 text-white">Saznajte više o našim uslugama!</h1>
              <p class="mb-4">Nudimo rješenja za web servise, desktop aplikacije, android aplikacije, IoT Smart Home uređaje ...</p><p>U nastavku saznajte nešto više o našim uslugama.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="site-section bg-light">
      <div class="container">
       
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">

                <img src="{% static 'images/smart_house.jpg' %}" alt="Image"
                 class="img-fluid">

              <div class="post-entry-1-contents">
                
                <h2>Smart Home</h2>
                <p style="background-color:gray;color:white; padding-left:10px">Pretvorite kućanske aparate u smart, te upravljajte njima pomoću aplikacije sa Vašeg mobilnog uređaja, tableta ili računara. Kontrolišite rasvjetu, roletne, navodnjavanje vrta. Radimo Smart Home sisteme po Vašim željama, budite slobodni da nas kontaktirate za više inforamacija.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
                <img src="{% static 'images/desktop_app.jpg' %}" alt="Image"
                 class="img-fluid">
              <div class="post-entry-1-contents">
                
                <h2>Desktop aplikacije</h2>
                <p style="background-color:gray;color:white; padding-left:10px">U našoj ponudi su i desktop aplikacije. Ukoliko Vaš biznis traži korištenje desktop aplikacije obratite nam se, tu smo da Vam olakšamo poslovanje. Pored izrade aplikacije prema Vašim potrebama, tu smo uz Vas za kontinuiranu tehničku podršku ... </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
                <img src="{% static 'images/web_servisi.jpg' %}" alt="Image"
                 class="img-fluid">
              <div class="post-entry-1-contents">
                
                <h2>Web servisi</h2>

                <p style="background-color:gray;color:white; padding-left:10px">Treba Vam baza podataka, administracija podataka u bazi. Želite pristup Vašim podacima u bazi sa više različitih računara, web servis je pravo rješenje za Vas. Administracija stanja robe na skladištu, online trgovina, e-biblioteke samo su neki od primjera korištenja web servisa u stvarnom životu.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">

                <img src="{% static 'images/android.png' %}" alt="Image"
                 class="img-fluid">

              <div class="post-entry-1-contents">
                
                <h2>Android aplikacije</h2>
                <p style="background-color:gray;color:white; padding-left:10px">Mobilni urešaji su postali dio naše svakodnevnice. Sve više poslova završavamo pomoću našeg pametno telefona, plaćanje računa, praćenje rezervacija, onlina kupovina samo su neke od aktivnosti koje radimo pomoću našeg pametnog telefona. Ukoliko Vam treba android aplikacija za Vaš posao, tu smo za Vas !</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
                <img src="{% static 'images/desktop_app.jpg' %}" alt="Image"
                 class="img-fluid">
              <div class="post-entry-1-contents">
                <h2>Web stranica</h2>
                <p style="background-color:gray;color:white; padding-left:10px">Web stranice predstavljaju moćan vid oglašavanja Vaših usluga širim masama. Ukoliko želite oglasiti Vaš posao javnosti, oglašavanje putem interneta je najbolja opcija u 21. vijeku. Ukoliko trebate jednostavnu stranicu za oglašavanje Vašeg posla i usluga koje nudite budite slobodni da nas kontakirate. Naš tim Vam stoji na raspolaganju !</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
                <img src="{% static 'images/technical_support.jpg' %}" alt="Image"
                 class="img-fluid">
              <div class="post-entry-1-contents">

                <h2 style="padding-top: 32px">Tehnička podrška</h2>
                <p style="background-color:gray;color:white; padding-left:10px">Stojimo na raspolaganju za svaki vid tehničke podrške. Instalacija, održavanje software, obuka Vašeg osoblja. Kontinurano praćenje Vaših aplikacija te otklanjanje eventualno nastalih smetnji u radu ... </p>
              </div>
            </div>
          </div>



        </div>

        
      </div>
    </div> <!-- END .site-section -->
    

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-3">O nama</h2>
                <p>Mi smo tim mladiž inžinjera sa popriličnim brojem uspješno urađenih projekata iza nas. Iza nas je već dosta ozbiljnih projekata iz oblasti informacijskih tehnologija i telekomunikacija.</p>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-6 ml-auto">
                <h2 class="footer-heading mb-4">Linkovi</h2>
                <ul class="list-unstyled">
                  <li><a href="/">ADF Soft</a></li>
                  <li class="active"><a href="/usluge">Usluge</a></li>
                 <!-- <li><a href="/projekti">Naši projekti</a></li> -->
                  <li><a href="/contact">Kontakt</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h2 class="footer-heading mb-4">Poveži se s nama</h2>
                <div class="social_29128 white mb-5">
                  <a href="#"><span class="icon-facebook"></span></a>  
                  <a href="#"><span class="icon-instagram"></span></a>  
                  <a href="#"><span class="icon-twitter"></span></a>  
                 </div>
                <h2 class="footer-heading mb-4">Ostavite Vaš feedback</h2>
                <form action="feedback" method="post" class="d-flex" class="subscribe">
                  {% csrf_token %}
                  <input type="text" class="form-control mr-3" placeholder="Vaša kratka poruka" name="email">
                  <input type="submit" value="Pošalji" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>

